<form {{action 'initWorker' on='submit'}}>
    <p>
        <label>Path<br>
          {{input value=path type='text'}}
        </label>
    </p>
    <p>
        <button type="submit">Init worker</button>
    </p>
</form>
